.contact-main-container {
  padding: 24px;
  overflow: auto;
}

.contact-main-container::-webkit-scrollbar {
  display: none;
}

.contact-header-img-container {
  position: relative;
  display: inline-block;
  width: 64px;
  height: 64px;
  margin-right: 16px;
}

.indicator {
  position: absolute;
  bottom: 1px;
  right: 0px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid white;
}
.online {
  background-color: #34c759;
}

.wishes-icon {
  width: 24px;
  height: 24px;
  margin-left: 6px;
}

.search-input-container {
  position: relative;
}

.search-input {
  width: 244px;
  height: 48px;
  padding: 8px 12px;
  border: 1px solid #d6dff6;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  padding-left: 36px;
  color: #212633;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #8e9abb;
}

.save-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  padding: 12px;
  border: 1px solid #d6dff6;
  border-radius: 8px;
  margin-right: 8px;
  margin-left: 8px;
  cursor: pointer;
}

.contact-box {
  padding: 10px 5px;
  cursor: default;
}
.contact-box:hover {
  background-color: #f3f6ff;
}

.contact-profile-img-container {
  width: 52px;
  height: 52px;
  margin-right: 16px;
}
.unread-count-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #417dd9;
  margin-top: 8px;
}

.unread-count {
  font-size: 8px;
  font-weight: 700;
  color: #ffffff;
}
