@tailwind base;
@tailwind components;
@tailwind utilities;

.main-container {
  display: grid;
  grid-template-columns: 2.5fr 5.2fr 2.5fr;
  height: 100vh;
}

.main-container > * {
  border-right: 1px solid #f0f3f4;
}

.profile-name {
  font-weight: 400;
  color: #212633;
}

.preview-text {
  font-weight: 400;
  color: #8e9abb;
}

.profile-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #f6f6f9;
  object-fit: cover;
}
